@import "reset.css";

:root {
    color-scheme: only light;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.head-list, .message-page-head {
    font-size: 20px;
    width: 100%;
    -webkit-box-shadow: 0px 1px 16px -5px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 1px 16px -5px rgba(204, 204, 204, 1);
    box-shadow: 0px 1px 16px -5px rgba(204, 204, 204, 1);
}

.message-page-head {
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.message-page-head > div {
    padding: 10px;
}

.message-page-head.sticky {
    position: fixed;
    background-color: #d3e3fd;
}

.message-page-head.sticky .message-page-head__back {
    font-size: 10px;
    padding: 2px 4px;
}

.message-page-head.sticky > div {
    padding: 15px 35px;
}

.message-page-head.sticky .message-page-head__ads {
    font-size: 12px;
}

.message-page-head.sticky .message-page-head__title {
    font-size: 15px;
}


.head-list span {
    padding: 18px 35px;
    display: block;
    -webkit-box-shadow: inset 0px -52px 50px -80px rgba(204, 204, 204, 1);
    -moz-box-shadow: inset 0px -52px 50px -80px rgba(204, 204, 204, 1);
    box-shadow: inset 0px -52px 50px -80px rgba(204, 204, 204, 1);
}

.head-tab-menu {
    padding: 0 5px;
    margin-top: 4px;
    white-space: nowrap;
    overflow-x: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.head-tab-menu li {
    display: inline-block;
    color: #9E9E9E;
    padding: 6px 15px;
    font-size: 13px;
}

.head-tab-menu li.active {
    color: #2196F3;
    border-bottom: 2px solid #2196F3;
}

.chats-wrap {
    padding: 15px 20px;
    font-size: 14px;
}

.chat-group-head {
    color: #2196F3;
    border-bottom: 1px solid #2196F3;
    padding: 3px 0;
    font-size: 12px;
}

.chats-item.unread {
    color: #f90303 !important;
}

.chats-item {
    border-bottom: 1px solid #E0E0E0;
    padding: 12px 0;
    display: flex;
    align-items: center;
}

.chats-item:last-child {
    border-bottom: 0;
}

.chats-item__avatar {
    background: #ccc;
    width: 48px;
    height: 48px;
    border-radius: 40px;
    margin-right: 20px;
}

.chats-item__avatar img {
    width: 100%;
    border-radius: 40px;
    height: 100%;
}

.chats-item__title {
    font-size: 16px;
}

.chats-item__ads, .message-page-head__ads {
    font-size: 12px;
    padding: 6px 0 12px;
}

.chats-item__last-message, .message-page-head__last-message {
    font-size: 11px;
    line-height: 15px;
    color: #2c2b2b;
}


.message-page-head__title {
    font-size: 20px;
}

.message-page-head__ads a {
    text-decoration: none;
    color: #2196f3;
}

.message-page-head__ads {
    font-size: 14px;
    padding: 6px 0;
}

.message__item.left {
    float: left;
}

.message__item.right {
    float: right;
}

.message__item.right .message__text {
    background-color: #2196F3;
    color: #fff;
    max-width: 230px;
}

.message__item {
    margin-bottom: 10px;
    font-size: 15px;
}

.message__text {
    background-color: #F5F5F5;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 18px;
}

.message__image {
    width: 100%;
    height: 100%;
}

.message__read-status.read {
    color: green;
}

.message__time, .message__read-status {
    font-size: 11px;
    text-align: right;
    padding: 8px 0;
    color: #828282;
    margin-left: 10px;
}

.message__item.left .message__time {
    text-align: left;
}

.message__item.right .message__time {
    text-align: right;
}

.message__quote {
    border-left: 1px solid #787171;
    padding: 5px 16px;
    margin-bottom: 10px;
    color: #787171;
}

.message__item.right .message__quote {
    border-left: 1px solid #fff;
    color: #fff;
}

.message-page-head__back {
    color: #3e63e2;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
}

.messages-wrap {
    flex-direction: column;
    flex: 1 0 0;
    overflow-y: auto;
}

.messages {
    padding: 20px 35px 70px 20px;
    overflow-y: auto;
}


.clear {
    clear: both;
}

.pagination {
    display: inline-block;
    text-decoration: none;
    color: #2196f3;
    border: 1px solid #2196f3;
    border-radius: 5px;
    padding: 6px 16px;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.pagination:hover {
    cursor: pointer;
    opacity: .7;
}

.pagination.isBusy {
    color: rgb(33 150 243 / 41%);
    border: 1px solid rgb(33 150 243 / 41%);
}


.message-send-input {
    border-top: 1px solid #f2f2f2;
    width: 100%;
    min-height: 76px;
    position: fixed;
    background: #fff;
    bottom: 0;
}

.message-send-input > div {
    padding: 15px 10px;
    display: flex;
}

.message-send-input textarea {
    border: 1px solid #f2f2f2;
    padding: 6px 10px;
    border-radius: 5px;
    flex-grow: 1;
    height: 18px;
    resize: none;
    max-height: 62px;
    line-height: 18px;
    overflow: auto;
}

.message-send-input button {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 20px;
}

.message__item.right .message-ads > a {
    color: #fff;
}

.message-ads > a {
    display: flex;
    align-items: center;
    height: 70px;
    text-decoration: none;
    color: #000;
}

.message-ads__image {
    width: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-palette-gray4);
    border-radius: 12px;
    height: 70px;
    margin-right: 10px;
}

.message-ads__title {
    font-size: 14px;
    line-height: 16px;
}

.message-ads__price {
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 8px;
}

.internet-status-checker {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #ffffffeb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.internet-status-checker span {
    font-size: 20px;
    color: #d25959;
}

.internet-status-checker small {
    text-align: center;
    font-size: 11px;
    width: 200px;
    line-height: 13px;
    margin-top: 10px;
}

.state-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #ffffffeb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* HTML: <div class="loader"></div> */
.loader {
    z-index: 1;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    animation: l14 4s infinite;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    border: 8px solid;
    border-radius: 50%;
    border-color: red red #0000 #0000;
    mix-blend-mode: darken;
    animation: l14 1s infinite linear;
}

.loader::after {
    border-color: #0000 #0000 blue blue;
    animation-direction: reverse;
}

@keyframes l14 {
    100% {
        transform: rotate(1turn)
    }
}

.fast-messages {
    width: 100%;
    height: 300px;
    background: #fff;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fast-messages__left {
    padding: 30px 15px;
}

.fast-messages__templates {
    padding: 20px 10px;
    width: 75%;
    overflow-y: auto;
}

.fast-messages-template {
    display: flex;
    align-items: center;
    justify-content: end;
}

.fast-messages-template__edit {
    height: 28px;
    padding-left: 10px;
    padding-right: 10px;
}

.fast-messages-template__content {
    white-space: pre-wrap;
    max-height: 100px;
    overflow: hidden;
    font-size: 13px;
    line-height: 18px;
    background: #4c8ef9;
    padding: 10px 20px;
    color: #fff;
    border-radius: 7px;
    margin-bottom: 10px;
    flex-grow: 1;
}

.fast-messages-new {
    margin-bottom: 20px;
    display: flex;
}

.fast-messages-new textarea {
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 5px;
    height: 16px;
    width: 80%;
}

.fast-messages-new button {
    border: 1px solid #eee;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 15px;
    margin-left: 10px;
}

.fast-messages-new-btn {
    text-decoration: none;
    color: #ae3e3e;
    display: block;
    margin-bottom: 15px;
}

textarea {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

textarea::-webkit-scrollbar {
    display: none;
}
